.app {
  padding: 20px !important;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  justify-content: center !important;
}

.container1 {
  display: flex !important;
  justify-content: center !important;
  width: 400px !important;
  height: 300px !important;
  background-color: white !important;
  border-radius: 5px !important;
  /* box-shadow: rgba(255, 255, 255, 0.68) 0px 8px 24px; */
}
.income {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0px;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.errorMsg {
  margin-top: 5px;
}
